/*GENERAL STYLING*/

:root {
  --primary: #fe8030;
  --secondary: #5B5C5C;
  --bg: #fef1e4;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 3px solid;
  width: 80px;
  margin-top: 0;
}

hr.left {
  margin-left: 0;
  border-color: white;
}

hr.orange {
  border: 2px solid var(--primary);
}

h1 span {
  font-weight: 300;
}

input, textarea {
  background: none;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 0;
  border-bottom: 1px solid var(--secondary);
}

input::placeholder, textarea::placeholder {
  color: var(--secondary);
}

input:focus, textarea:focus {
  outline: none;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.btn {
  border: 2px;
  /*font-size: 1.3em;*/
  border-radius: 5px;
  padding: 0.7em;
  font-weight: bold;
  cursor: pointer;
}

.btn-solid {
  background: var(--primary);
  color: white;
  border-color: var(--primary);
}

.btn-alt {
  background: none;
  border: 2px solid white;
  color: white;
}

.btn-dark {
  background: none;
  border: 1px solid var(--primary);
  color: var(--primary);
}

nav.navbar {
  padding: 3em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 100;
  color: white;
  transition: 0.5s;
}

nav.navbar img {
  width: 250px;
}

nav.navbar.scrolled img {
  width: 100px;
}

ul.nav-links {
  /*width: 40%;*/
  width: 70%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav.navbar.scrolled {
  position: fixed;
  padding: 0.5em 10%;
  top: 0;
  background: white;
  box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.5);
  color: black;
  transition: 1s;
}

#landing {
  background-image: -moz-linear-gradient( -50deg, rgb(0, 0, 0) 0%, rgb(67, 67, 67) 99%);
  background-image: -webkit-linear-gradient( -50deg, rgb(0, 0, 0) 0%, rgb(67, 67, 67) 99%);
  background-image: -ms-linear-gradient( -50deg, rgb(0, 0, 0) 0%, rgb(67, 67, 67) 99%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
}

.star-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.star-background img {
  width: 100%;
}

img.space-ship {
  top: 15% !important;
  left: auto !important;
  right: 50px !important;
  width: 25%;
  animation: bounce 2s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#scene {
  height: 100%;
  width: 100%;
}

img.blue-planet {
  top: 15% !important;
  left: 60% !important;
  width: 5%;
}

img.yellow-planet {
  top: 10% !important;
  left: 20% !important;
  width: 15%;
}

img.planet-a {
  top: auto !important;
  bottom: 0px !important;
  left: 5% !important;
  width: 20%;
}

.rotating-text {
  position: absolute;
  top: 50%;
  margin-left: 18%;
  width: calc(100% - 18%);
  transform: translateY(-50%);
  font-size: 5em;
  color: white;
}

.bold {
  font-weight: bold;
}

.rotating-words {
  display: inline-block;
}

.rotating-words span {
  position: absolute;
  top: 0;
  overflow: hidden;
  animation: animate 12s linear infinite;
  opacity: 0;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  6% {
    opacity: 1;
    transform: translateY(5px);
  }
  8% {
    opacity: 1;
    transform: translateY(0);
  }
  23% {
    opacity: 1;
    transform: translateY(0);
  }
  28% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.rotating-words span:nth-child(1) {
  animation-delay: 0s;
}

.rotating-words span:nth-child(2) {
  animation-delay: 4s;
}

.rotating-words span:nth-child(3) {
  animation-delay: 8s;
}

#about-small {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 55%;
  width: 52%;
  left: 25%;
  text-align: center;
  text-overflow: clip;
}

#about-small button {
  font-size: 1.3em;
  margin-top: 1em;
  box-shadow: 0 15px 5px 0 rgba(0, 0, 0, 0.5);
}

.landing-footer {
  position: absolute;
  bottom: -25%;
  width: 100%;
}

.landing-footer img {
  width: 100%;
  height: auto;
}

.star-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #F1F1F1, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #F1F1F1, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3000ms ease-in-out infinite;
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  animation-delay: 650ms;
}

.star:nth-child(1)::before, .star:nth-child(1)::after {
  animation-delay: 650ms;
}

.star:nth-child(2) {
  top: calc(50% - -50px);
  left: calc(50% - 190px);
  animation-delay: 150ms;
}

.star:nth-child(2)::before, .star:nth-child(2)::after {
  animation-delay: 150ms;
}

.star:nth-child(3) {
  top: calc(50% - -90px);
  left: calc(50% - 200px);
  animation-delay: 1600ms;
}

.star:nth-child(3)::before, .star:nth-child(3)::after {
  animation-delay: 1600ms;
}

.star:nth-child(4) {
  top: calc(50% - 50px);
  left: calc(20% - 250px);
  animation-delay: 4700ms;
}

.star:nth-child(4)::before, .star:nth-child(4)::after {
  animation-delay: 4700ms;
}

.star:nth-child(5) {
  top: calc(50% - -190px);
  left: calc(10% - 200px);
  animation-delay: 2100ms;
}

.star:nth-child(5)::before, .star:nth-child(5)::after {
  animation-delay: 2100ms;
}

/* Animations */

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}

.content {
  width: 100%;
  padding: 3em 10%;
}

#companies {
  text-align: center;
}

#companies img {
  width: 220px;
  height: auto;
  padding: 1em;
}

#about-us {
  height: 100vh;
  background: url("../images/about-bg.png");
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
}

.about {
  align-self: center;
  padding-right: 20%;
  text-align: right;
}

.about hr {
  margin-right: 0;
}

#about-us img {
  width: 100%;
}

#architecture .content {
  background: var(--primary);
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1em;
}

.arch-text {
  line-height: 1.5;
  text-align: justify;
}

#services {
  background: black;
  color: white;
  padding-bottom: 6em;
}

#services .content {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 2em;
}

#services ul {
  padding: 0;
  list-style: none;
  color: grey;
  padding-top: 2em;
}

#services li {
  padding: 0.7em 0;
}

a.active {
  font-weight: bold;
  color: white;
}

#value-preposition {
  /*background: black;*/
  box-sizing: border-box;
  padding: 0 10%;
  position: relative;
  top: -10em;
}

#value-preposition .content {
  padding: 2em 0 0;
}

#value-preposition .heading {
  background: white;
  padding: 0.3em 2em;
}

#value-preposition .card-deck {
  background: #ebebeb;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  padding: 2em;
}

#value-preposition .card {
  background: white;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#products {
  background: linear-gradient(90deg, #FEF1E4 70%, #fe8030 0);
  height: 100vh;
  position: relative;
}

.product div {
  margin-top: 7%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 3em;
  align-items: center;
}

.product img {
  justify-self: center;
  height: 200px;
}

.button-container {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

#partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*padding: 6em 10%;*/
}

#partners .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 1em;
  grid-column-gap: 5em;
  justify-content: center;
  align-items: center;
}

.testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.5em;
}

.testimony img {
  height: auto;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.slick-slide .testimony {
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s ease-in-out;
}

.slick-center .testimony {
  opacity: 1;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.partners-carousel img {
  height: 120px;
  width: auto;
  padding: 1em;
}

footer {
  background: var(--primary);
  color: #ffce86;
  padding: 2em 10%;
  position: relative;
  display: grid;
  grid-template-columns: 35% 20% 40%;
  grid-column-gap: 3em;
  align-items: center;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin: 0.5em 0;
}

footer a:hover {
  color: white;
}

#footerSocials {
  font-size: 2em;
  display: flex;
}

#footerSocials a {
  margin: 0.5em;
  transition: 0.5s;
}

#footerSocials a:hover {
  color: white;
  transform: scale(1.3);
  transition: 0.5s;
}

.contact-info img {
  width: 60%;
  background: white;
  padding: 1em;
  border-radius: 20px;
}

#quickContact {
  background: white;
  padding: 2em;
  border-radius: 20px;
  color: var(--primary);
}

p#footnote {
  position: absolute;
  left: 0;
  bottom: -2em;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0.5em;
  background: var(--secondary);
  color: #dadbdb;
}
